<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Template</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    />

    <link rel="stylesheet" href="notita.css" />
  </head>

  <body>
    <div class="container-note">
      <h1>You have a nice heart</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum
        tempor mi id volutpat. Sed semper, neque ac ullamcorper varius, tellus
        velit auctor metus, in commodo diam nibh quis libero. Donec blandit nunc
        felis, eget pharetra purus tincidunt a. Duis vitae orci eleifend, cursus
        purus sed, imperdiet massa. Duis mattis dolor sem, convallis placerat
        tellus ornare eget. Duis in ultricies massa. Duis nec auctor sem.
      </p>

      <img
        src="https://images.pexels.com/photos/2007401/pexels-photo-2007401.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      />

      <h2>You have a nice heart</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
        odio quaerat expedita corporis rem odit architecto accusantium possimus
        perspiciatis eveniet totam optio facere, est incidunt, omnis ut
        deleniti? Minus, placeat.
      </p>
      <a href="#">HTML</a>
      <ul>
        <li>Perfect</li>
        <li>Determinat</li>
        <li>Curajos</li>
      </ul>
    </div>
  </body>
</html>
