<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    />

    <link rel="stylesheet" href="about.css" />
  </head>

  <body>
    <section class="about">
      <h2>About Notes App</h2>

      <p>
        Our app offers one of the best experiences in note-taking. You can
        add,edit and delete a note just by a single click.Join us to create
        personalized notes for your day to day activities
      </p>
    </section>
  </body>
</html>
