<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Template</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    />

    <link rel="stylesheet" href="notita.css" />
  </head>

  <body class="note">
    <div class="container-note">
      <div><h1 class="header">You have a nice heart</h1></div>
      <div>
        <p class="paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum
          tempor mi id volutpat. Sed semper, neque ac ullamcorper varius, tellus
          velit auctor metus, in commodo diam nibh quis libero. Donec blandit
          nunc felis, eget pharetra purus tincidunt a. Duis vitae orci eleifend,
          cursus purus sed, imperdiet massa. Duis mattis dolor sem, convallis
          placerat tellus ornare eget. Duis in ultricies massa. Duis nec auctor
          sem.
        </p>
      </div>
      <div>
        <img
          src="https://images.pexels.com/photos/2007401/pexels-photo-2007401.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        />
      </div>
      <div><h2 class="header2">You have a nice heart</h2></div>
      <div>
        <p class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          odio quaerat expedita corporis rem odit architecto accusantium
          possimus perspiciatis eveniet totam optio facere, est incidunt, omnis
          ut deleniti? Minus, placeat.
        </p>
      </div>

      <div><a href="#">HTML</a><br /></div>
      <div><a href="#">CSS Basics</a><br /></div>
      <div><a href="#">CSS Advanced</a><br /><br /></div>
      <div>
        <ul class="list">
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>

          <li>Aenean rutrum tempor mi id volutpat.</li>

          <li>Sed semper, neque ac ullamcorper varius.</li>

          <li>Tellus velit auctor metus, in commodo diam nibh quis libero.</li>

          <li>Donec blandit nunc felis, eget pharetra purus tincidunt.</li>
        </ul>
      </div>
      <div><h3 class="header3">You have a nice heart</h3></div>
      <div>
        <p class="paragraph2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Id atque,
          enim officia adipisci impedit accusantium blanditiis doloremque! Eius
          cum recusandae quas vel quae aliquid cumque fugiat et distinctio!
          Placeat, fugiat.
        </p>
      </div>
    </div>
  </body>
</html>
