<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Template</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    />

    <link rel="stylesheet" href="dashboard.css" />
  </head>

  <body>
    <div class="flex1">
      <h1>Dashboard</h1>
      <a class="buton" href="#">New notes</a>
    </div>
    <div class="flexxx">
      <div class="flex2">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim magnam
          deserunt rerum sit tenetur adipisci eius, tempore magni voluptatem. Ex
          totam nihil molestiae tempora doloremque sapiente aperiam ratione,
          beatae repellat?
        </p>
      </div>
      <div class="flex3">
        <a href="https://www.facebook.com/">Facebook</a>
      </div>
      <div class="flex4">
        <img
          src="https://www.nestle.ro/sites/g/files/pydnoa501/files/cum-sa-imbunatatesti-viata-pisicii-tale-in-doar-trei-saptamani-foto.jpg"
        />
      </div>
    </div>
  </body>
</html>
