<html>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <title>Template</title>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
      />
      <link
        rel="stylesheet"
        href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
      />
      <link rel="stylesheet" href="bar.css" />
    </head>
    <body class="dashboard_bar">
      <section class="bar_line">
        <div class="bar_create_note">
          <h1 class="name">Dashboard</h1>
          <a class="button" href="#">NEW NOTE</a>
        </div>
      </section>
    </body>
  </html>
</html>
