<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Template Vechi</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    />

    <link rel="stylesheet" href="header.css" />
  </head>

  <body>
    <header class="header-style">
      <div class="header-text">
        <div class="log-in">
          <a class="link" href="login.html">Login</a>
        </div>

        <div class="logo">
          <a href="index.html">
            <img src="/assets/logo.svg" alt="Logo" />
          </a>
        </div>

        <div class="register">
          <a class="link" href="register.html">Register</a>
        </div>
      </div>
    </header>
  </body>
</html>
